

body {
  /* width: 100vw; */
  /* min-height: 100dvh; */
  background-color: black;
  color: white;
  overflow: hidden;
}


section {
  position: absolute;
  height: 100%;
  top: 0;

}

section.center {
  z-index: 1;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(rgb(94, 67, 157), #511855 10%, #07ff51, green);
  /* mix-blend-mode: difference; */
}

section.left {
  left: 0;
  width: 30%;
  background: url('./forest.png');
}



section.right {
  right: 0;
  width: 30%;
  background: url('./forest.png');
  border-right: 40px solid black;
}

.gradient-curtain {
  position: absolute;
  height: 100%;
  width: 50%;
  background: linear-gradient(90deg, black, white);
  box-shadow: 20px 20px 200px rgb(0, 0, 0);
}


section.right .gradient-curtain {
  width: 70%;
  background: linear-gradient(90deg, black 20%, white);
  border-right: 5px solid rgb(37, 37, 127);
  display: flex;
  flex-direction: column;

  img {
    width: 130%;
    height: 100%;
    flex: 1;
  }
}

.lightning {
  position: absolute;
  width: 100%;
  height: 50%;
  mix-blend-mode: lighten;
}

.lightning:nth-child(1) {
  bottom: 0;
  transform: scale(1, -1);
}

.platform {
  position: fixed;
  z-index: 1;
  bottom: 10px;
  left: -25%;
  filter: blur(25px);
  border-radius: 200%;
  width: 100%;
  height: 25%;
  background-color: rgba(0, 0, 255, 0.724);
}

section.right .lightning {
  mix-blend-mode: lighten;
  z-index: 1;
}

section.left > .lightning {
  z-index: 2;
  right: -50%;
}

.banner {
  display: flex;
  position: relative;

  marquee {
     flex: 1;
     color: greenyellow;
  }

  .fast-layer {
    opacity: .5;
    filter: blur(.5px);
    position: absolute;
    left: 0;
    width: 20%;
    height: 100%;
    display: flex;
    transform: scaleX(5);
    transform-origin: left;
    flex-direction: inherit;
    pointer-events: none;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;

    marquee {
      border-color: blue;
    }
  }
}

.clock {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
  img {
    position: absolute;
    left: -75%;
    width: 200%;
    height: 105%;
  }
}

.infinity-title {
  opacity: .5;
  margin: -40px 10px;
  position: relative;
  width: 80%;
  z-index: 5;
  filter: grayscale(.75) invert(1);
  transition: transform .5s, filter .5s, opacity .5s;

  &:hover {
    opacity: 1;
    filter: grayscale(.25);
    transform: scale(1.5);
  }
}